# Auto detect text files and perform LF normalization
*    text=auto

# Force LF
*        text eol=lf

*.html   text diff=html
*.css    text
*.js     text

# Be explicit about some binary file types
*.jpeg binary
*.jpg binary
*.png binary
*.pdf binary
